<div class="app-filter pull-right">
        <div class="form-group col-xs-12 col-md-6 col-md-offset-6">
                <input class="form-control" placeholder="Search in users..." ng-model="query">
        </div>
        <div class="clearfix"></div>
</div>
<h2 class="page-header">
        Users
</h2>
<div class="cards-container row">
        <div class="card-grid col-xs-12 col-sm-4" ng-repeat="u in users| filter:query" ng-click="getUser(u.id)" data-userid="{{u.id}}">
                <div class="card">
                        <div class="card-header">
                                <div class="card-header-inner">
                                        <div class="name">{{u.name}}</div>
                                        <div class="username">{{u.username}}</div>
                                </div>
                        </div>
                        <div class="card-inner">
                                <div class="status">
                                        <span ng-if="u.active == 1" class="label label-success">Active</span>
                                        <span ng-if="u.active == 0" class="label label-danger">Inactive</span>
                                </div>
                                <div class="email">{{u.email}}</div>
                                <div class="access">{{u.types}}</div>
                        </div>
                </div>
        </div>
</div>