<div class="app-filter pull-right">
        <div class="form-group col-xs-12 col-md-6 col-md-offset-6">
                <input class="form-control" placeholder="Search in users..." ng-model="query">
        </div>
        <div class="clearfix"></div>
</div>
<h2 class="page-header">
        Users
</h2>
<div class="cards-container row">
        <div class="card-grid col-xs-12 col-sm-4" ng-repeat="u in users | filter:query" ng-click="getUser(u.id)">
                <div class="card">
                        <div class="card-header">
                                
                        </div>
                        <div class="card-inner">
                                {{u.id + ', ' + u.name}}
                        </div>
                </div>
        </div>
</div>